body {
  padding: 20px;
  font-family: Helvetica;
  background-color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-content: center;
  grid-gap: 5px;
  grid-auto-rows: minmax(120px, auto);
}

.box {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid white;
<<<<<<< HEAD
}

.a {
  background-color: red;
  grid-row: 1 / span 4;
  grid-column: 1 / span 4;
=======
>>>>>>> e0e02b8db69e3fbd9820bc64dbac2ddb80b09403
}
